@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  
  .print\:hidden {
    display: none !important;
  }

  .print\:block {
    display: block !important;
  }
  
  .print\:flex {
    display: flex !important;
  }

  @page {
    margin: 0.5cm;
    size: letter portrait;
  }
  
  .print-mode {
    width: 100%;
    max-width: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 10pt;
  }
}